@font-face {
	font-family: 'Lemon/Milk Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Lemon/Milk Regular'),
		url('../fonts/LemonMilk.woff') format('woff'),
		url('../fonts/LemonMilk.woff2') format('woff2');
}

body {
	width: 100%;
	min-width: 320px;
	margin: 0;
	padding: 0;
	/* font-family: Verdana, Tahoma; */
	font-family: "Lemon/Milk Regular", sans-serif;
	font-size: 16px;
	color: #ffffff;
	background-color: #131112;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	max-width: 992px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: #2e2c2d;
}

.header {
	background-color: #900000;
	display: flex;
}

.header__title {
	font-family: "Lemon/Milk Regular", sans-serif;
	font-size: 40px;
	color: #000000;
	margin: 0;
	text-transform: uppercase;
}

.header__title--another-color {
	color: #ffffff;
}

.main {
	padding-top: 37px;
	padding-bottom: 15px;
}

.main__title {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.main__text {
	padding: 0;
	margin: 0;
	line-height: 17px;
	margin-bottom: 30px;
	text-align: justify;
}

.link {
	color: #fe0000;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.main__img {
	display: block;
	margin: 30px auto;
	max-width: 100%;
	height: auto;
}

.main__link {
	max-width: 503px;
	width: 100%;
	display: block;
	font-size: 35px;
	padding: 23px 0;
	margin: 0 auto;
	background-color: #ffff01;
	text-decoration: none;
	color: #000000;
	text-align: center;
	border-radius: 12px;
}

.main__link:hover {
	background-color: #fe0000;
}

.opinion {
	display: flex;
	flex-wrap: wrap;
}

.opinion__img-wrapper {
	width: 310px;
	height: 315px;
	margin-right: 70px;

}

.opinion__img {
	/* width: 25%; */
	width: 310px;
	margin-right: 70px;
}

.opinion__text-block {
	width: 100%;
	display: inline-block;
}

.opinion__text-block--short {
	width: 520px;
}

.calculator {
	border: 2px red solid;
	background: #000000;
	padding: 15px;
}

.calculator__title {
	text-align: center;
}

.calculator__block {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;

}

.calculator__block::after {
	position: absolute;
	content: '';
	width: 84px;
	height: 60px;
	background: url('../fonts/arrow.svg');
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
}

.calculator__element {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.calculator__label {
	width: 100%;
}

.calculator__label--left {
	text-align: left;
}

.calculator__label--right {
	text-align: right;
}

.calculator__input-wrapper {
	width: 100%;
	max-width: 180px;
}

.calculator__input {
	width: 100%;
	max-width: 180px;	
	border: 2px solid red;
	background: #ffffff;
	display: block;
	font-family: "Lemon/Milk Regular", sans-serif;
	font-size: 30px;
	margin-top: auto;
	color: #000000;
	height: 46px;
	padding-left: 15px;
}

.calculator__input--right {
	margin-left: auto;
}

input.calculator__input {
	padding-top: 4px;
	padding-bottom: 4px;
}

span.calculator__input,
.calculator__input-wrapper {
	position: relative;
}

.calculator__input-wrapper {
	/* margin: 0 auto; */
	margin-right: auto;
}

span.calculator__input::after,
.calculator__input-wrapper::after {
	position: absolute;
	content: "cm";
	right: 10px;
	top: 0;
	font-size: 30px;
	color: #000000;
}

.calculator__input-wrapper::after {
	top: 3px;
}

.calculator__promo-txt {
	text-align: center;
}

.reviews__title {
	font-size: 30px;
	text-align: center;
}

.reviews__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.review__name {
	margin: 0;
	padding: 0;
	color: #fe0000;
}

.review__img-wrapper {
	display: flex;
	justify-content: space-around;
}

.review__img {
	height: 300px;
	width: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.product__img {
	margin: 0 auto;
	display: block;
}

.product {
	/* padding-bottom: 50px; */
}


@media (max-width: 992px) {
	.wrapper {
		padding: 15px 15px;
	}
	
	.opinion {
		flex-direction: column;
		align-items: center;
	}

	.opinion__img-wrapper {
		width: 100%;
	}

	.calculator__block {
		width: 100%;
	}

	.opinion__img {
		margin: 0;
		width: auto;
		max-height: 400px;
	}

	.opinion__text-block--short {
		width: 100%;
	}

	.review__img-wrapper {
		flex-direction: column;
		justify-content: flex-start;
	}

	.review__img {
		max-width: 100%;
		max-height: 300px;
		width: auto;
	}
}

@media (max-width: 550px) {
	.calculator__block::after {
		transform: translateX(-50%) scale(0.5);
	}
}

@media (max-width: 480px) {
	.main__link {
		font-size: 25px;
	}

	.calculator__block {
		flex-direction: column;
	}

	.calculator__element {
		width: 100%;
		margin-bottom: 45px;
	}

	.calculator__label {
		margin-bottom: 15px;
		text-align: center;
	}

	.calculator__input-wrapper,
	.calculator__input {
		max-width: 250px;
		margin: 0 auto;
	}

	.calculator__block::after {
		content: none;
	}
}
