/* =========================================================================
   Base styles
========================================================================= */
body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  background-color: #212121;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif; }

h1, .h1 {
  font-size: 3rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

small {
  font-size: 0.875rem;
  text-decoration: underline; }

img {
  margin-bottom: 1rem; }

.paragraph--red {
  color: #F44336; }

.btn-success {
  color: #fff;
  background-color: #4CAF50;
  border-color: #4CAF50; }

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 4rem; } }
/* =========================================================================
   Header
========================================================================= */
.site-header {
  background-color: #000000;
  padding: .75rem; }

.site-title {
  color: #FDD835;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  letter-spacing: .1rem; }

/* =========================================================================
   Main content
========================================================================= */
.site-inner {
  background-color: #FFFFFF; }

.article-header {
  background-color: #F44336;
  padding: .75rem 1rem; }
  .article-header h3 {
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem; }

.content-area {
  padding: 2rem 1.5rem; }

.hero {
  text-align: center;
  margin-bottom: 2rem; }
  .hero strong {
    color: #F44336;
    text-decoration: underline; }

.imagebox__wrapper {
  text-align: center; }
.imagebox__img img {
  max-height: 350px; }
.imagebox__text h2 {
  color: #F44336;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-bottom: .25rem; }
.imagebox__text h5 {
  color: #9E9E9E;
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.size-badge-img {
  position: relative;
  display: inline-block; }
  .size-badge-img .size-badge {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: #F44336;
    border-radius: 50em;
    padding: .5rem 1rem; }
    .size-badge-img .size-badge h4 {
      color: #FFFFFF;
      margin-bottom: 0;
      text-transform: uppercase; }
  .size-badge-img .size-badge--right {
    left: auto;
    right: .5rem; }

.link-box {
  background-color: #F44336;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem; }
  .link-box p {
    color: #FFFFFF;
    font-size: 1.25rem;
    margin-bottom: 0;
    text-decoration: underline; }

.packshot,
.packshot-big {
  max-height: 350px;
  margin-bottom: 2rem; }

.icon-title {
  color: #4CAF50; }
  .icon-title i {
    color: #E91E63;
    margin-right: .5rem; }

.border-box {
  padding: 1rem;
  border: 1px solid #9E9E9E;
  margin-bottom: 1.5rem; }
  .border-box p {
    margin-bottom: 0; }

.stats-box {
  text-align: center;
  margin: 1rem 0; }
  .stats-box i {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #E91E63; }

.form {
  margin: 2rem 0 0; }
  .form p {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center; }
    .form p strong {
      color: #F44336;
      text-decoration: underline; }
  .form ul {
    text-align: center; }
    .form ul li {
      margin-bottom: .5rem; }
    .form ul i {
      color: #4CAF50;
      margin-right: .25rem; }

@media (min-width: 768px) {
  .content-area {
    padding: 2rem 0 2rem 1.5rem; }

  .hero {
    text-align: left; }

  .article-header h3 {
    text-align: left; }

  .packshot-big {
    max-height: 350px;
    margin-bottom: 2rem; }

  .form {
    margin: 4rem 0 0; } }
@media (min-width: 992px) {
  .imagebox__text {
    margin-left: 2rem; }
    .imagebox__text h2 {
      text-align: left; }
    .imagebox__text h5 {
      text-align: left; }
  .imagebox__img {
    min-width: 250px; }
    .imagebox__img img {
      margin: 0; }
  .imagebox .size-badge {
    top: .5rem;
    left: .5rem; }
  .imagebox .size-badge--right {
    left: auto;
    right: .5rem; }

  .imagebox__text.order-lg-1 {
    margin: 0 2rem 0 0; }

  .small-container .container {
    max-width: 960px; } }
/* =========================================================================
   Sidebar
========================================================================= */
.sidebar {
  background-color: #FFECB3;
  padding: 2rem 0;
  height: 100%; }

.widget {
  margin-bottom: 1rem; }
  .widget__text {
    padding: 1rem; }
    .widget__text h4 {
      font-size: 1.25rem; }
    .widget__text p {
      font-size: 0.875rem;
      margin-bottom: 0; }

.widget-box {
  text-align: center; }
  .widget-box__img {
    display: inline-block; }
    .widget-box__img img {
      margin-bottom: 0;
      max-height: 300px; }

@media (min-width: 768px) {
  .sidebar {
    padding: 0; } }
/* =========================================================================
   Footer
========================================================================= */
.site-footer {
  background-color: #000000;
  padding: 1rem 0;
  text-align: center; }
  .site-footer p {
    color: #FFFFFF;
    margin-bottom: 0;
    font-size: 0.875rem; }

/* =========================================================================
   Formularz
========================================================================= */
#form_main {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 40px; }

#form_main .form_head_tille {
  text-align: left; }

#form_main .form_head_tille .col-md-5 {
  display: none; }

#form_main .form_head_tille .col-md-7 {
  text-align: center;
  margin: 0 auto; }

#form_main h2 {
  padding: 0;
  margin: 0;
  font-weight: bold; }

#form_main h3 {
  color: #000;
  text-shadow: none;
  margin: 0;
  font-size: 1.25rem; }

#form_main .price_main {
  font-size: 1.25rem;
  margin-bottom: .25rem;
  display: block; }

#form_main h3 strong {
  color: #E53935; }

#form_main h4 {
  color: #E53935;
  font-size: 1em; }

#form_main .form_space {
  padding: 5px 0px; }

#form_main label {
  font-size: .9em;
  width: 100%;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: .25rem;
  line-height: 24px; }

#form_main input,
#form_main select {
  text-align: left;
  float: left;
  font-size: .875em;
  color: #000;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #acb1b6;
  border-radius: .25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

#form_main input:focus,
#form_main input:hover,
#form_main select:focus,
#form_main select:hover {
  border-color: #434343;
  color: #1d1d1d; }

#form_main select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 1px), calc(100% - 15px) calc(1em + 1px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }

#form_main .field_with_errors {
  color: #E53935;
  font-weight: bold; }

#form_main .field_with_errors input {
  border: solid 1px #E53935;
  background: #ffd7d7; }

#form_main .field_with_errors input:focus,
#form_main .field_with_errors input:hover {
  background: #fff;
  border: 1px solid #acb1b6; }

#form_main .method_shiping .form_space {
  margin: 0;
  padding: 0; }

#form_main .btn_box {
  margin: 10px 0; }

#form_main .btn_box .btn_order input {
  text-align: center;
  float: none;
  cursor: pointer;
  background: #1ca82c;
  color: #fff;
  font-weight: 900;
  font-size: 36px;
  border: none; }

#form_main .btn_box .btn_order input:hover {
  background: #4cb050; }

#form_main .payment label {
  text-align: left;
  float: left;
  width: auto;
  line-height: 1em; }

#form_main .payment input {
  float: left;
  width: auto;
  margin-right: 10px; }

#form_main .payment .option {
  display: block;
  clear: both;
  padding: 8px 0; }

#form_main .payment .option label {
  width: 100%; }

#form_main .payment .option label .shiping_pirce {
  float: right; }

#form_main .btn-koszyk {
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  background: #4cb050;
  color: #fff;
  background-image: -moz-linear-gradient(90deg, #1f9913 1%, #2eae1d 100%);
  background-image: -webkit-linear-gradient(90deg, #1f9913 1%, #2eae1d 100%);
  background-image: -ms-linear-gradient(90deg, #1f9913 1%, #2eae1d 100%);
  padding: 10px;
  margin: auto; }

#form_main .btn-koszyk:hover {
  background-image: -moz-linear-gradient(90deg, #2eae1d 1%, #1f9913 100%);
  background-image: -webkit-linear-gradient(90deg, #2eae1d 1%, #1f9913 100%);
  background-image: -ms-linear-gradient(90deg, #2eae1d 1%, #1f9913 100%);
  background: #4cb050; }

#form_main .error {
  color: #E53935;
  font-size: .75em; }

@media (max-width: 768px) {
  #form_main label {
    text-align: left; }

  #form_main input {
    margin-bottom: 8px; } }
#form_main .product_info h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1px; }

#form_main .product_info {
  margin: 0px 10px;
  padding: 20px;
  position: relative;
  top: 0px;
  margin-top: 70px;
  cursor: pointer;
  margin: auto; }

#form_main .form_contact h3 {
  font-size: 24px;
  background: #f3fbea;
  padding: 5px 0px;
  text-align: center; }

#form_main .info_shiping h3 {
  background: no-repeat;
  text-align: left;
  font-size: 16px;
  padding: 0px;
  margin: 0px; }

#form_main .pic_product {
  text-align: center;
  height: 347px;
  width: 350px;
  margin: auto; }

#form_main .pic_product img {
  width: 340px; }

.info_delivery {
  font-family: 'bebas_neueregular';
  color: #fff;
  background: #4cb050;
  padding: 5px 0px;
  text-align: center;
  font-size: 30px; }

.orange {
  color: #2565b2; }

.form_contact {
  padding: 50px 0px; }

.fill_input {
  color: #564a08;
  text-align: left;
  font-size: 16px; }

.shiping_info p {
  font-size: 16px;
  font-weight: 100; }

#form_main .shiping_info li {
  margin-top: 10px; }

#form_main .shiping_info .check_border {
  padding: 10px 0px 13px 40px;
  border: solid 3px #dddddd;
  position: relative;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 10px; }

#form_main .surname_box {
  margin-top: 0px; }

#form_main .shiping_info .check_border:hover {
  border: solid 5px #275aa0; }

#form_main .product_info .check_border {
  padding: 10px 10px 70px 10px;
  border: solid 3px #dddddd;
  position: relative;
  margin-left: 0px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 40px; }

#form_main .order_main li {
  text-align: left;
  font-size: 24px;
  font-family: 'bebas_neueregular';
  color: #3b1a59; }

#form_main .order_main li span {
  color: #000; }

#form_main .agreee {
  font-size: 12px;
  line-height: 20px;
  font-weight: 100;
  padding: 30px 0px; }

#form_main .btn.buy {
  border: solid 3px #4cb050;
  color: #4cb050;
  font-size: 28px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px; }

#form_main .btn.buy:hover {
  border: solid 3px #e6b83e;
  color: #1a141f;
  font-size: 28px;
  margin-top: 20px;
  width: 100%;
  background-color: #e6b83e; }

#form_main input#agree {
  float: left;
  padding: 10px;
  width: 20px;
  border: solid 1px #E53935; }

#form_main {
  font-family: 'Open Sans', sans-serif !important; }

#form_main .row .col-md-3 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: 16.666667%; }

#form_main .row.form_space > .col-md-6,
#form_main .row.btn_box > .col-md-6 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: 16.666667%; }

/* =========================================================================
   Popup
========================================================================= */
#ouibounce-modal {
  z-index: 200;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#ouibounce-modal .modal {
  display: block;
  width: 640px;
  height: 380px;
  background-color: white;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  -webkit-animation: popin 0.3s;
  animation: popin 0.3s; }

#ouibounce-modal .underlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s; }

#ouibounce-modal .modal-body {
  text-align: center;
  display: relative; }

#ouibounce-modal .modal-text h2 {
  color: #F44336;
  font-size: 3rem;
  margin-bottom: .5rem;
  text-transform: uppercase; }

#ouibounce-modal .modal-text h3 {
  font-size: 1.25rem;
  color: #212121; }

#ouibounce-modal .modal-text h3 strong {
  color: #FFB300;
  text-decoration: underline;
  margin-bottom: .5rem; }

#ouibounce-modal .old-price {
  text-decoration: line-through;
  color: #F44336;
  font-weight: 700; }

#ouibounce-modal .new-price {
  color: #4CAF50;
  font-weight: 700; }

#ouibounce-modal .modal-text p {
  margin-bottom: .5rem; }

#ouibounce-modal .modal-text p strong {
  color: #F44336; }

#ouibounce-modal .modal-text p.text-muted {
  font-size: 0.875rem;
  color: #9E9E9E; }

#ouibounce-modal .modal-text a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: .5rem 0 1rem;
  display: inline-block; }

#ouibounce-modal .modal-footer {
  display: block;
  padding: 0;
  border: 0; }

#ouibounce-modal .modal-text .btn {
  font-size: 1.125rem; }

#ouibounce-modal .modal-text p.exit {
  font-size: 0.875rem;
  color: #9E9E9E;
  margin-bottom: 0; }

#ouibounce-modal .modal-text p.exit:hover {
  text-decoration: underline;
  cursor: pointer; }

#ouibounce-modal .sticker {
  position: absolute;
  top: 20px;
  right: 160px;
  padding: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: #4CAF50;
  transform: rotate(-10deg); }

#ouibounce-modal .sticker h5 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 0; }

@media (min-width: 768px) {
  #ouibounce-modal .sticker {
    width: 100px;
    height: 100px; }

  #ouibounce-modal .sticker h5 {
    font-size: 2.25rem; } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  85% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@-ms-keyframes popin {
  0% {
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  85% {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes popin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  85% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
/* =========================================================================
   Promo
========================================================================= */
.promo {
  padding: 2rem 0;
  text-align: center; }

.promo h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #4CAF50;
  text-transform: uppercase; }

.promo h3 {
  font-size: 1.5rem;
  color: inherit;
  font-weight: 500;
  margin-bottom: .5rem; }

.promo #timerText {
  font-size: 3rem;
  color: #F44336;
  font-weight: 700; }

.promo img {
  max-height: 320px; }

.promo p {
  margin-bottom: 1rem; }

.promo .price-wrapper {
  margin: 1rem 0 0; }

.promo .price-box p {
  margin-bottom: .5rem;
  font-size: 1.125rem; }

.promo .price-box .old-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #F44336;
  text-decoration: line-through; }

.promo .price-box .new-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4CAF50; }

.promo .btn {
  margin-top: 1rem; }

.promo h4 {
  font-size: 1.75rem; }

/* =========================================================================
   Thank you
========================================================================= */
.thanks {
  text-align: center;
  margin: 2.5rem 0; }

.thanks h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #4CAF50; }

.thanks h3 {
  font-size: 1.25rem; }

/*# sourceMappingURL=style.css.map */
