.submit-roulette:hover {
    background: #bb0000;
    transition: background 0.3s;
}

.submit-roulette:active {
    transform: translateY(2px);
    box-shadow: none;
}

input[value="Получить бесплатно"],
.submit-roulette {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px #242120;
    background: red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-appearance: none;
}

input[value="Получить бесплатно"]:hover {
    background: #bb0000 !important;
    transition: background 0.3s;
}

input[value="Получить бесплатно"]:active {
    transform: translateY(2px);
    box-shadow: none !important;
}

select {
    position: relative;
    box-sizing: border-box;
    text-indent: 10px;
    width: 100%;
    max-width: 204px;
    height: 42px;
    line-height: normal;
    border: 1px solid #000;
    border-radius: 0px;
}

.button-roulette {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    max-width: 160px;
    height: 42px;

    border-radius: 10px;

    border: 0;

    margin-top: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    background-color: red;
}

.input-roulette {
    position: relative;
    box-sizing: border-box;

    width: 100% !important;
    max-width: 204px;

    padding-left: 5px;
    height: 42px;
    margin-bottom: 10px;
}


.ruletka-p {
    text-indent: 0px;
    color: black;
    text-align: center !important;
    margin: 15px;
    line-height: 25px;
    font-weight: bold;
}

.ruletka-p h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.ruletka-a {
    color: rgb(22, 151, 206);
}

.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.spin-wrapper .ruletka-p {
    margin-bottom: 15px;
}

.danger-text {
    color: red;
    font-weight: bold;
}

.wheel {
    width: 380px !important;
    margin: 0 auto;
    position: relative;
}

.wheel img {
    max-width: 100%;
}

.wheel-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}

.wheel-cursor {
    position: absolute;
    width: 35% !important;
    height: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cursor-text {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 45% !important;
    height: 45%;
    font: 16px Arial !important;
    line-height: 61px !important;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
}

.order_block {
    display: none;
    text-align: center !important;
}

.order_block img {
    width: 50%;
}

.order_block h3 {
    font: bold 18px Arial !important;
    background: transparent;
}

#luckyshop_form,
#everad_form_params,
#papakarlo_form,
#everad_form_thx,
#drcash_form_thx_reg2,
#profit_form2,
#omni_form,
#everad_form,
#rocket_form_new,
#shakes_form,
#apilead_form,
#apilead_form_reg4,
#hp_form,
#p_hp_form,
#pw_hp_form,
#leadtrade_form,
#drcash_form,
#t_drcash_form,
#rocket_form,
#ad1_form,
#p_omni_form,
#m_leads,
#v_m_leads,
#kma_form,
#kma_form_thx,
#adbees_form,
#crm_form,
#leadgroup_form,
#leadbit_form,
#cpagetti_form,
#monsterleads_form,
#tl_form,
#hp_form3,
#adeptcpa_form,
#burg_tl_form,
#scpa_pw_ad1_form,
#scpa_pw_hp_form,
#scpa_pw_tl_form,
#scpa_pw_apilead_form,
#scpa_pw_leadtrade_form,
#scpa_pw_drcash_form,
#rekl_form,
#p_apilead_form,
#aff1_form,
#leadvertex_cpa1,
#leadvertex_cpa1_reg2,
#p_hp_form_test,
#p_rekl_form,
#static_omni_form,
#funcpa_form,
#p_omni_form_thx,
#tiktok_apilead_form,
#ad1_devtizer,
#ha9_form,
#healthinlife_profitclicks_max,
#healthinlife_profitclicks,
#healthinlife_profitclicks_push,
#leadvertex_cpa3_profitclicks,
#healthinlife_new,
#leadvertex_cpa1_reg2,
#EgipetHils,
#p_omni_form_thx {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Proxima Nova', 'Arial', 'Helvetica Neue', sans-serif;
}

.time_remains {
    font-size: 1.1em;
    color: red;
    font-weight: bold;
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #ffffff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(https://static.infothroat.com/pages/53d2b8c1-4069-4c67-8ad5-6f4279a9e2a3/free/prelp/v65/src/img/cross.svg);
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer;
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center !important;
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255) !important;
    border: medium none;
    cursor: pointer;
    outline: medium none;
}

.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg);
    }

    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg);
    }
}

@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1783deg);
        transform: rotate(1783deg);
    }

    100% {
        -webkit-transform: rotate(1774deg);
        transform: rotate(1774deg);
    }
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.pop-up-layer {
    position: fixed !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 99 !important;
}

.pop-up-layer-show {
    display: block;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #fff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0;
    right: 0px;
    margin: 0 auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

.text_small {
    font-size: 0.5em !important;
    font-weight: normal !important;
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }

    30% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pop-up-button:hover {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

@media all and (max-width: 520px) {
    .wheel {
        width: 260px !important;
    }

    .cursor-text {
        line-height: 45px !important;
        font-size: 12px !important;
    }

    @media screen and (max-width: 345px) {
        .wheel {
            width: 250px !important;
        }

        .cursor-text {
            line-height: 40px !important;
            font-size: 11px !important;
        }
    }

    blockquote {
        margin: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
        background: #FFF4E0;
        color: #474C4F;
        padding: 30px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        text-align: center
    }

    blockquote p {
        text-align: center !important
    }

    blockquote:before {
        content: "©";
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        top: 14px;
        color: #474C4F;
        font-size: 20px;
        background: #FFF4E0;
        padding: 0 15px
    }

    blockquote:after {
        content: "";
        position: absolute;
        left: 15px;
        top: 20px;
        right: 15px;
        height: 4px;
        border-top: 1px dotted #474C4F;
        border-bottom: 1px dotted #474C4F
    }

    .data {
        display: table;
        height: 60px;
        float: left;
        width: 49%
    }

    #cell {
        display: table-cell;
        vertical-align: middle
    }

    .view img {
        width: 350px;
        float: right;
        display: -webkit-inline-box;
        margin: 10px
    }

    .view {
        float: right;
        display: block;
        height: 60px;
        width: 49%
    }

    .view img {
        width: 350px;
        float: right;
        display: -webkit-inline-box;
        margin: 10px
    }

    @media (max-width: 591px) {
        .data {
            text-align: center;
            width: 100%
        }

        .view {
            width: 100%;
            text-align: center
        }

        .view img {
            float: none;
            margin: 0 auto;
            width: 100%
        }
    }


    .step-quest>* label:active {
        background: #d0d0d0
    }

    .instructions td {
        background: none !important;
        border: none;
        width: 100%;
        font-size: 20px
    }

    .item .photo img {
        max-width: none !important
    }

    .content_img p {
        color: #656565;
        font-weight: 500;
        margin-bottom: 30px
    }

    .spisok {
        margin: 30px
    }

    .spisok li {
        font-size: 15px;
        list-style: inside;
        margin: 13px
    }

    #quiz {
        min-height: 50vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px;
        background: #f9f9f9
    }

    #quiz_form {
        width: 100%
    }

    #step0,
    #step1,
    #step2,
    #step3,
    #step4,
    #step5,
    #step6,
    #step7,
    #step8,
    #step9,
    #step10,
    #other_steps,
    #last_step {
        display: none
    }

    #step0 {
        display: block;
        text-align: center
    }

    #step1 h2,
    #step2 h2,
    #step3 h2,
    #last_step h2 {
        text-align: center;
        margin-bottom: 50px !important
    }

    #other_steps {
        text-align: center
    }

    .step>small {
        text-align: center;
        margin-bottom: 30px;
        display: block
    }

    .quiz_buttons {
        display: flex;
        justify-content: center
    }

    #quiz .btn {
        cursor: pointer;
        background: #54a8fb;
        padding: 7px 30px;
        display: inline-block;
        border-radius: 3px;
        font-size: 1rem;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        margin: 0 15px
    }

    #quiz .btn:hover {
        background: #4195e8
    }

    #quiz .btn.back_btn {
        background: #ccc
    }

    #quiz .btn.back_btn:hover {
        background: #aaa
    }

    .step-quest {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: center
    }

    .step-quest>* {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px
    }

    .step-quest>* label {
        display: block;
        border: 2px solid #eee;
        padding: 15px 30px;
        border-radius: 5px;
        height: 100%
    }

    .step-quest>* label.checked {
        border: 2px solid #54a8fb;
        box-shadow: 1px 1px 12px #ccc
    }

    .step-quest>* label input {
        margin-right: 15px;
        display: none
    }

    .step-quest>* label input#price_input {
        display: block;
        width: 100%;
        border-radius: 3px;
        pointer-events: none;
        font-size: 1.2rem;
        text-align: center
    }

    .step-quest>* img {
        margin-bottom: 15px
    }

    .step-quest>div>input {
        padding: 15px 0;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 5px;
        font-size: 1.3rem;
        text-align: center
    }

    #last_step {
        text-align: center;
        line-height: 22px
    }

    #contact_fields {
        justify-content: center;
        margin-bottom: 15px
    }

    #contact_fields>* {
        width: 51%;
        margin-bottom: 15px
    }

    #acceptance-line {
        margin-bottom: 30px
    }

    #progress_bar {
        height: 5px;
        width: 100%;
        background: rgba(84, 168, 251, 0.2)
    }

    #progress_in {
        width: 0;
        height: 100%;
        background: #54a8fb;
        transition: all .3s ease;
        -o-transition: all .3s;
        -webkit-transition: all .3s ease 0
    }

    #curr_step {
        margin-bottom: 15px;
        margin-top: 40px
    }

    @media screen and (max-device-width: 1024px) {
        #quiz h2 {
            margin-bottom: 50px !important
        }

        .step-quest {
            margin-bottom: 15px
        }

        #type-home>*,
        #type-repair>* {
            width: 50%;
            text-align: left;
            margin-bottom: 15px
        }

        .step-quest>* {
            margin-bottom: 15px
        }

        .step-quest>* label {
            display: flex;
            align-items: center;
            padding: 15px;
            justify-content: center
        }

        .step-quest>* img {
            width: 30%;
            margin-bottom: 0;
            margin-right: 20px
        }

        #contact_fields>* {
            width: 70%
        }

        .step-quest>div>input {
            padding: 10px 30px;
            font-size: 1.1rem
        }
    }

    @media screen and (max-device-width: 800px) {
        #quiz {
            padding: 0 15px
        }

        #quiz h2 {
            font-size: 1.8rem
        }

        .step-quest>* img {
            display: none
        }

        .step-quest>* label {
            text-align: center;
            padding: 10px 15px
        }

        #contact_fields>* {
            width: 90%
        }

        .step>small {
            margin-bottom: 15px
        }
    }

    @media screen and (max-device-width: 480px) {
        #quiz h2 {
            margin-bottom: 40px !important
        }

        .step-quest>*,
        #type-home>*,
        #type-repair>* {
            width: 90%
        }
    }

    @media screen and (max-device-width: 380px) {
        #quiz h2 {
            font-size: 1.6rem
        }

        .step-quest>*,
        #type-home>*,
        #type-repair>*,
        #contact_fields>* {
            width: 100%
        }

        .quiz_buttons {
            justify-content: space-between
        }

        .quiz_buttons p {
            width: 45%;
            margin-bottom: 20px
        }

        #quiz .btn {
            width: 100%;
            margin: 0
        }

        #step1 .quiz_buttons {
            justify-content: center
        }
    }
}



@media (max-width: 767px) {
    .order_block img {
        width: 90%;
    }

    .ord_button {
        font-size: 13px !important;
    }

    #quiz h2,
    .boxes__header h2 {
        line-height: normal;
        padding: 15px 0px 5px 0;
        font-size: 16px;
    }

    .boxes__h1 {
        line-height: normal;
    }

}