* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:first-child + html .sp_img {
    position: absolute;
    height: 22px;
    width: 22px;
    top: -3px ! important;
    bottom: 0px;
    right: 10px;
    cursor: pointer;
}

.box {
    padding-right: 16px;
    padding-left: 17px;
    padding-top: 0px ! important;
    font-size: 14px;
    position: relative;
    text-align: left;
    float: left;
    width: 60%;
}



.box h1 {
    font-family: Roboto ! important;
    font-size: 26px ! important;
    font-weight: normal ! important;
    line-height: 28px ! important;
    color: rgb(43, 43, 43) ! important;
    margin-bottom: 10px;
}

.box h5 {
    font-family: Roboto ! important;
    font-size: 12px ! important;
    font-weight: normal ! important;
    color: rgb(129, 129, 129) ! important;
    margin: 0px ! important;
    padding: 0px ! important;
}

.box div p {
    font-family: Roboto ! important;
    color: rgb(43, 43, 43);
    text-align: justify ! important;
    text-indent: 20px;
}

.box p {
    font-family: Roboto ! important;
    color: rgb(43, 43, 43);
    line-height: 18px;
    letter-spacing: 0.3px ! important;
    text-align: left ! important;
    margin: 10px 0;
}

div.sb {
    padding: 0px;
}

.sb ul {
    list-style: none outside none;
    float: left;
    padding: 0px;
}

.sb ul, .sb li {
    float: left;
}

.sb li {
    margin-right: 10px;
}

.gplus {
    margin-right: 0px;
    width: 58px;
    margin-left: 0px;
}

.vk {
    margin-right: -15px;
    margin-left: -15px;
}

.fb {
    margin-left: -35px;
    margin-right: -12px;
}

.mail_b {
    width: 92px;
}

.read_us {
    height: 26px;
    padding-left: 24px;
    padding-bottom: 12px;
}

.read_us img {
    margin-right: 8px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

img {
    border: medium none;
}

#ya-site-form0 .ya-site-form__input-text {
    border: 1px solid rgb(230, 230, 230) ! important;
}

.ya-site-form__input-text {
    border: 1px solid rgb(230, 230, 230) ! important;
}

.logo_td {
    padding-left: 21px;
    padding-top: 0px;
    padding-bottom: 3px;
}

.sb_td {
    vertical-align: top;
    width: 240px;
}

#tab1_span {
    padding: 2px 0px;
    font-family: Georgia;
    font-size: 16px;
    color: rgb(136, 169, 6);
    text-decoration: underline;
}

.docname {
    margin: 10px 0;
    display: inline-block;
    font-family: Georgia;
    font-size: 16px;
    color: rgb(136, 169, 6);
    text-decoration: underline;
}

.right .docname:hover {
    text-decoration: none;
}

.mob a:hover {
    text-decoration: none;
}

#tab1_span:hover {
    text-decoration: none !important;
}

.top_link_login {
    color: rgb(14, 100, 188);
    text-decoration: underline ! important;
    font-size: 12px;
    cursor: pointer;
}

.top_link_login_authorized {
    color: rgb(150, 150, 150);
    text-decoration: underline ! important;
    font-size: 12px;
}

.login_td {
    padding-top: 6px;
    padding-bottom: 5px;
    vertical-align: bottom;
}

.ya-site-form__submit {
    height: 26px ! important;
    margin: 0px ! important;
    background: url('searchbutton.png') no-repeat scroll 0px 0px transparent ! important;
    border: medium none;
    color: rgb(255, 255, 255) ! important;
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    padding: 0px 0px 4px;
    text-align: center;
    width: 77px ! important;
}

.ya-site-form__input-text_type_hint, .ya-site-form__input-text {
    margin-top: -6px ! important;
    width: 316px;
    margin-left: -1px;
    border: 1px solid rgb(230, 230, 230) ! important;
    background-position: 0px center, 0px center;
    height: 26px;
    overflow: hidden;
    font-family: Roboto;
    font-size: 13px;
    color: rgb(139, 139, 139);
    font-style: italic;
    padding-bottom: 2px;
    float: left;
}

.ya-site-form__search-input {
    padding: 0px ! important;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: rgb(0, 0, 0);
}

table tr td {
    vertical-align: top;
}

fieldset, img {
    border: 0px none;
}

a {
    text-decoration: none;
    border: medium none;
}

a:hover {
    text-decoration: underline;
}

a {
    outline: medium none;
}

#main_block input, fieldset, img {
    border: 0px none;
}

.main_block {
    cursor: default ! important;
}

.center h5 {
    color: rgb(67, 67, 67);
    font-size: 15px;
    font-weight: normal;
    line-height: 17px;
    margin: 10px 0px 0px;
    padding: 3px 9px 2px;
}
.b-cmtItem img{
    max-width: 450px;
    width: 100%;
}
.center p {
    padding: 3px 0px 4px;
}

body {
    font-family: Roboto;
    font-size: 13px;
    color: rgb(43, 43, 43);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

a {
    font-family: Roboto;
    color: rgb(14, 100, 188);
}

a:hover {
    color: rgb(249, 17, 17);
    text-decoration: underline;
}

.main_block {
    width: 985px;
    padding: 7px 0px 106px;
    margin: 0px auto;
}

.main_block .content {
    width: 100%;
    margin: 0px;
}

.center {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.right {
    width: 30%;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding-bottom: 20px;
    float: right;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
}

.termometr {
    background: url('termometr_bg.gif') repeat-x scroll left top transparent;
    font-size: 11px;
}

.termometr .left_t_bg {
    background: url('termometr_l_bg.gif') no-repeat scroll left top transparent;
}

.termometr .right_t_bg {
    background: url('termometr_r_bg.gif') no-repeat scroll right top transparent;
    margin-bottom: 4px ! important;
    padding: 7px 0px 0px 15px;
    color: rgb(129, 129, 129);
}

.termometr .right_t_bg a {
    color: rgb(129, 129, 129);
    font-size: 11px;
}

.termometr .right_t_bg span {
    padding: 0px 0px 0px 4px;
}

.box, .fat_box {
    padding: 13px 16px 20px 17px;
    color: rgb(51, 51, 51);
    width: 482px;
}

:first-child + html .box, .fat_box {
    width: auto ! important;
}

:first-child + html .box_calc {
    width: auto ! important;
}

:first-child + html .box_without_top {
    width: auto ! important;
}

h1, h2 {
    color: rgb(67, 67, 67);
    font-size: 16px;
    margin-bottom: 11px;
    font-weight: bold;
}

.description_text {
    width: 482px;
    overflow: hidden;
    margin-bottom: 20px;
}

.description_text, .description_text div, .description_text span, .description_text p {
    font-family: Roboto ! important;
}

:first-child + html .photo_box {
    width: auto ! important;
}

.box ul {
    margin-left: 17px;
}

.box ul {
    color: rgb(67, 67, 67);
}

.box ul li, .box ol li {
    padding: 0px 0px 7px;
}

:first-child + html .blog_box {
    width: auto ! important;
}

:first-child + html .tema {
    width: 220px;
    padding-left: 11px;
}

:first-child + html .textarea_cell .feedback_textarea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 15px ! important;
}

:first-child + html #popup_block .email_input {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 7px ! important;
}

.CollapsiblePanelContent {
    margin: 0px;
    padding-left: 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    color: rgb(55, 137, 185);
}

.menunew {
    margin: 5px 0px 0px 5px;
}

td.center {
    padding: 4px 0px 50px;
    width: 515px;
}

td.right {
    padding-top: 4px;
}

.blueNormalText {
    font-family: Roboto;
    font-size: 13px;
    color: rgb(55, 137, 185);
}

.greenNormalText {
    font-family: Roboto;
    font-size: 13px;
    color: rgb(136, 169, 6);
}

table.menunew {
    border: 0px none;
    margin: 0px;
    padding: 0px;
    width: 795px;
    text-align: center;
}

tr.menunew {
    height: 25px;
    font-family: Roboto;
}

td.menunew {
    padding-left: 10px;
    padding-right: 10px;
    background-position: left top;
    background-repeat: repeat-x;
    background-image: url('gradient.gif');
    height: 25px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding-top: 4px;
}

td.menunew a:hover {
    text-decoration: none;
}

td.left_menunew {
    vertical-align: top;
    padding: 0px;
    background-image: url('left_menu.png');
    background-position: center top;
    background-repeat: repeat-x;
    height: 25px;
    width: 5px;
}

td.right_menunew {
    vertical-align: top;
    padding: 0px;
    background-position: center top;
    background-repeat: repeat-x;
    height: 25px;
    width: 5px;
}

td.top_line_menunew {
    background-image: url('top_menu_line.png');
    background-position: center top;
    background-repeat: repeat-x;
    padding-top: 12px;
}

td.left_vline {
    background-image: url('left_vline.png');
    background-position: left center;
    background-repeat: repeat-y;
}

td.right_vline {
    background-image: url('right_line.png');
    background-position: left center;
    background-repeat: repeat-y;
}

td.bottom_hline {
    background-image: url('bottom_line.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.read_us {
    height: 26px;
    padding-left: 12px ! important;
    padding-bottom: 12px;
}

.read_us_top_txt {
    color: rgb(200, 200, 200);
    margin-top: 38px;
    margin-bottom: 5px;
    margin-left: 12px;
}

.read_us img {
    margin-right: 8px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: rgb(0, 0, 0);
}

table tr td {
    vertical-align: top;
}

fieldset, img {
    border: 0px none;
}

a {
    text-decoration: none;
    border: medium none;
}

a:hover {
    text-decoration: underline;
}

a {
    outline: medium none;
}

#main_block input, fieldset, img {
    border: 0px none;
}

.center h5 {
    color: rgb(67, 67, 67);
    font-size: 15px;
    font-weight: normal;
    line-height: 17px;
    margin: 10px 0px 0px;
    padding: 3px 9px 2px;
}

.center p {
    padding: 3px 0px 4px;
}

body {
    font-family: Roboto;
    font-size: 13px;
    color: rgb(43, 43, 43);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

a {
    font-family: Roboto;
    color: rgb(14, 100, 188);
    font-weight: 700;
}

a:hover {
    color: rgb(249, 17, 17);
    text-decoration: underline;
}

.main_block {
    width: 985px;
    padding: 7px 0px 106px;
    margin: 0px auto;
}

.main_block .content {
    width: 100%;
    margin: 0px;
}

.content .center {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    width: 726px;
}

.content .right {
    width: 240px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding-bottom: 20px;
}

.termometr {
    background: url('termometr_bg.gif') repeat-x scroll left top transparent;
    font-size: 11px;
}

.termometr .left_t_bg {
    background: url('termometr_l_bg.gif') no-repeat scroll left top transparent;
}

.termometr .right_t_bg {
    background: url('termometr_r_bg.gif') no-repeat scroll right top transparent;
    margin-bottom: 4px ! important;
    padding: 7px 0px 0px 15px;
    color: rgb(129, 129, 129);
}

.termometr .right_t_bg a {
    color: rgb(129, 129, 129);
    font-size: 11px;
}

.termometr .right_t_bg span {
    padding: 0px 0px 0px 4px;
}
.right img{
    max-width: 100%;
}
.box {
    padding: 0px 16px 20px 10px ! important;
    color: rgb(51, 51, 51);
    width: 63%;
}
.cnt-wrp{
    border: 1px solid #808080;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 10px 10px;
    box-shadow: 2px 0px 10px #808080;
}
.cnt-wrp::after{
    content: " ";
    clear: both;
    visibility: hidden;
    height: 0;
    display: table;
}

:first-child + html .box, .fat_box {
    width: auto ! important;
}

:first-child + html .box_calc {
    width: auto ! important;
}

:first-child + html .box_without_top {
    width: auto ! important;
}

h1, h2 {
    color: rgb(67, 67, 67);
    font-size: 16px;
    margin-bottom: 11px;
    font-weight: bold;
}

.description_text {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.description_text, .description_text div, .description_text span, .description_text p {
    font-family: Roboto ! important;
}

:first-child + html .photo_box {
    width: auto ! important;
}

.box ul {
    margin-left: 15px;
}

.box ul {
    color: rgb(67, 67, 67);
}

.box ul li, .box ol li {
    padding: 0px 0px 7px;
}

:first-child + html .blog_box {
    width: auto ! important;
}

:first-child + html .tema {
    width: 220px;
    padding-left: 11px;
}

:first-child + html .textarea_cell .feedback_textarea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 15px ! important;
}

:first-child + html #popup_block .email_input {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 7px ! important;
}

.CollapsiblePanelContent {
    margin: 0px;
    padding-left: 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    color: rgb(55, 137, 185);
}

.menunew {
    margin: 5px 0px 0px 5px;
}

td.center {
    padding: 0px 0px 50px;
    width: 515px;
}

td.right {
    padding-top: 4px;
}

.blueNormalText {
    font-family: Roboto;
    font-size: 13px;
    color: rgb(55, 137, 185);
}

.greenNormalText {
    font-family: Roboto;
    font-size: 13px;
    color: rgb(136, 169, 6);
}

table.menunew {
    border: 0px none;
    margin: 0px;
    padding: 0px;
    width: 795px;
    text-align: center;
}

tr.menunew {
    height: 25px;
    font-family: Roboto;
}

td.menunew {
    padding-left: 10px;
    padding-right: 10px;
    background-position: left top;
    background-repeat: repeat-x;
    background-image: url('gradient.gif');
    height: 25px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding-top: 4px;
}

td.menunew:hover {
    background-image: url('gradient_a.gif') ! important;
    background-position: left top;
    background-repeat: repeat-x;
}

td.menunew a:hover {
    text-decoration: none;
}

td.left_menunew {
    vertical-align: top;
    padding: 0px;
    background-image: url('left_menu.png');
    background-position: center top;
    background-repeat: repeat-x;
    height: 25px;
    width: 5px;
}

td.right_menunew {
    vertical-align: top;
    padding: 0px;
    background-position: center top;
    background-repeat: repeat-x;
    height: 25px;
    width: 5px;
}

td.top_line_menunew {
    background-image: url('top_menu_line.png');
    background-position: center top;
    background-repeat: repeat-x;
    padding-top: 12px;
}

td.left_vline {
    background-image: url('left_vline.png');
    background-position: left center;
    background-repeat: repeat-y;
}

td.right_vline {
    background-image: url('right_line.png');
    background-position: left center;
    background-repeat: repeat-y;
}

td.bottom_hline {
    background-image: url('bottom_line.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.odkl-oc-comment-form INPUT::-moz-focus-inner {
    border: 1px dotted transparent;
}

.odkl-oc-comment-form INPUT:focus::-moz-focus-inner {
    border-color: rgb(238, 136, 51);
}

#ya-site-form0, #ya-site-form0 .ya-site-form__form, #ya-site-form0 .ya-site-form__input, #ya-site-form0 .ya-site-form__input-text, #ya-site-form0 .ya-site-form__submit, #ya-site-form0 .ya-site-form__search-precise {
    font-size: 12px ! important;
    color: rgb(0, 0, 0) ! important;
}

#ya-site-form0 .ya-site-form__form-form, #ya-site-form0 .ya-site-form__input, #ya-site-form0 .ya-site-form__search-precise, #ya-site-form0 .ya-site-form__search-precise__radio, #ya-site-form0 .ya-site-form__gap, #ya-site-form0 .ya-site-form__gap-i, #ya-site-form0 .ya-site-form__logo-img {
    margin: 0px;
    padding: 0px;
}

#ya-site-form0 {
    margin: 0px ! important;
    padding: 0px ! important;
}

#ya-site-form0 .ya-site-form__search-wrap {
    border-collapse: collapse;
}

#ya-site-form0 .ya-site-form__search {
    font-size: 12px ! important;
    width: 100%;
}

#ya-site-form0 .ya-site-form__search-input {
    padding: 6px;
}

#ya-site-form0 .ya-site-form__search-input-layout, #ya-site-form0 .ya-site-form__search-input-layout-l, #ya-site-form0 .ya-site-form__search-input-layout-r {
    font-size: 12px ! important;
    padding: 0px;
    vertical-align: middle;
    border: 0px none;
    border-collapse: collapse;
}

#ya-site-form0 .ya-site-form__search-input-layout, #ya-site-form0 .ya-site-form__search-input-layout-l {
    width: 100%;
}

#ya-site-form0 .ya-site-form__input-text {
    margin: 0px ! important;
    cursor: text;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(127, 157, 185);
    outline-style: none;
}

#ya-site-form0 .ya-site-form__input-text_type_hint {
    background-repeat: no-repeat;
    background-position: 0.2em 50%;
}

#ya-site-form0 .ya-site-form__submit {
    display: block;
    width: auto;
    margin: 0px 0px 0px 5px;
}

#ya-site-form0 .ya-site-form__wrap {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#ya-site-form0 .ya-site-form__gap {
    border: 0px none;
}

#ya-site-form0 .ya-site-form__gap-i {
    width: 9em;
}

#ya-site-form0 .ya-site-form__submit_type_image {
    width: 19px;
    height: 15px;
    outline: medium none;
    cursor: pointer;
    border: 0px none;
}

#ya-site-form0 .ya-site-form__submit_type_image {
    background: url('search.png') no-repeat scroll 0% 0% transparent;
}

#ya-site-form0 .ya-site-form__input-text_type_hint {
}

#ya-site-form0 .ya-site-form__form * {
    font-size: 13px ! important;
    color: #fff !important;
}

#ya-site-form0 .ya-site-form__search, #ya-site-form0 .ya-site-form__search td, #ya-site-form0 .yaform__precise-i {
    background-color: transparent ! important;
}

#ya-site-form0 .ya-site-suggest {
    position: relative;
    margin: 0px 4.85em 0px 0px;
}
.img-wrp{
    text-align: center;
}
.img-wrp img{
    max-width: 100%;
}
.logo-txt{
    display: inline-block;
    font-size: 24px;
    color: #7CBC1F;
    position: relative;
    top: -28px;
}
.img-left{
    float: left;
    margin-right: 10px;
}
.img-left img{
    max-width: 320px;
}
.pic img{
    max-width: 46px;
}
.fb_reset {
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;
    border-spacing: 0px;
    color: rgb(0, 0, 0);
    cursor: auto;
    direction: ltr;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.fb_reset > div {
    overflow: hidden;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}

.ln {
    list-style-type: none;
}

.clear {
    clear: both;
}

.b-cmtItem {
    position: relative;
    margin: 10px 0px;
    border-top: 1px dashed rgb(102, 102, 102);
}

.holder {
    padding: 15px 0px 15px 95px;
    min-height: 74px;
}

.pic {
    position: absolute;
    left: 0px;
    top: 15px;
    padding: 6px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.title span {
    font: italic 14px/1em Georgia, "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}



.b-cmtItem p {
    margin: 0.5em 0px;
}

.text-center{
    text-align: center;
}
.b-cmtItem .date {
    margin-left: 10px;
    border-left: 1px solid rgb(196, 196, 196);
    padding-left: 10px;
    text-transform: uppercase;
    color: rgb(153, 153, 153);
    font: italic 12px/1em Arial, Helvetica, sans-serif;
}

.button {
	width: 45%;
	min-width: 280px;
}

.footer{
    text-align: center;
    margin: 15px 0;
}
.doc-pic{
    text-align: center;
}
.doc-pic img{
    max-width: 80%;
}

.bld-txt{
    font-weight: 700;
}
.mrg-t{
    margin-top: 20px;
}
.order-btn{
    background: #F04943;
    color: #fff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 5px;
    width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
.order-btn:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.08);
}

@media screen and (max-width: 992px){
    .right, .comm-mob-hidden, .mob-hidden{
        display: none;
    }
    .main_block{
        width: auto !important;
    }
    .cnt-wrp{
        max-width: 100%;
    }
    table{
        margin: 0 auto;
    }
    .box{
        float: none;
        width: 100% !important;
        box-sizing: border-box;
    }
    .holder {
        padding: 15px 0px 15px 65px !important;
    }

    .b-cmtItem:nth-last-of-type(n+6) {
        display: none;
    }
}

@media screen and (max-width: 500px){
    .sb_td, .login_td{
        display: none;
    }
    .order-btn{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 704px){
    .login_td {
      display:none;
    }
}

@media screen and (max-width: 581px){
    .logo-txt {
      font-size:18px;
    }
  
  .read_us {
    display:none;
  }
}





@media screen and (max-width: 480px) {
    .b-cmtItem {
        position: relative;
    }

    .holder {
        padding: 0 !important;
    }

    .b-cmtItem .title {
        padding: 22px 0 10px 60px;
    }

    .b-cmtItem .date {
        display: block;
        margin-left: 0;
        border: none;
        padding-left: 0;
        margin-top: 3px;
    }

    .pic {
        top: 10px;
    }
}