@import url("https://fonts.googleapis.com/css@family=Pacifico");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a img {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.vk-comment-text img {
  margin: 10px auto 5px;
}

.vk-container {
  font-size: 11px;
  line-height: 17px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  color: black;
  text-decoration: none;
}

.banner {
  margin: 10px 0;
  padding: 10px 0;

  text-align: center;

  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.banner .b300 {
  display: none;
}

.banner img {
  max-width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .b600 {
    display: none !important;
  }

  .banner .b300 {
    display: initial;
  }
}

.vk-link {
  text-decoration: none ! important;

  cursor: default ! important;
}

.vk-header {
  margin-bottom: 10px;
  padding: 4px 4px 4px 6px;

  background: none repeat scroll 0 0 rgb(218, 226, 232);
}

.vk-logo {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: -1px;
}

.vk-header-text {
  padding: 2px 3px 1px;

  font-weight: bold;
  line-height: 100%;
  color: rgb(69, 104, 142);
}

.vk-avatar img {
  float: left;
  margin-right: 10px;
}

.vk-comment,
.vk-comment-load {
  position: relative;

  min-height: 70px;
  margin-bottom: 15px;
  padding: 0 15px;

  border-bottom: 1px solid rgb(218, 225, 232);
}

.vk-comment:last-child {
  border-bottom: 0 none;
}

.vk-comment-name {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(43, 88, 122);
}

.vk-comment-text {
  margin-left: 60px;
}

.vk-comment-photo {
  width: 100%;
  max-width: 300px;
}

.vk-comment-date {
  margin: 5px 0 8px 60px;
  color: rgb(153, 153, 153);
}

.vk-comment-like:hover {
  cursor: pointer;
  opacity: 0.5;
}

.vk-comment-like-count {
  padding-left: 14px;
  font-weight: bold;
  font-size: 10px;
  color: rgb(114, 149, 178);
}

.vk-comment-answer {
  color: rgb(43, 88, 122);
}

.vk-comment-answer:hover {
  cursor: pointer;
  opacity: 0.5;
}

.ib {
  display: inline-block;
  float: left;
  width: 49%;
  vertical-align: middle;
  text-align: center;
}

.ib:first-child {
  margin-top: 90px;
}

.clear {
  clear: both;
}

a.counter {
  position: relative;

  display: inline-block;
  width: 100% !important;
  max-width: 120px;
  height: 40px;
  padding: 5px 0 0 0;

  font-weight: bold;
  font-size: 15px !important;
  text-align: center;
  color: #ffffff !important;
  color: #ffffff !important;
  text-decoration: none;
  text-shadow: 1px 2px 1px #666666;

  background: #ff6600 repeat scroll 100% 100%;
  -webkit-background-size: cover;
  background-size: cover;
  border-style: double;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.stamp {
  position: relative;
}

.stamp-text {
  position: absolute;
  top: -77px;
  left: 38%;

  font-weight: bold;
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 999px) {
  .vk-container {
    font-size: 18px;
    line-height: 31px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    color: black;
    text-decoration: none;
  }

  .vk-comment-name {
    font-weight: bold;
    font-size: 18px;
    color: rgb(43, 88, 122);
  }

  .vk-comment-like-count {
    padding-left: 14px;

    font-weight: bold;
    font-size: 14px;
    color: rgb(114, 149, 178);
  }
}

@media screen and (max-width: 639px) {
  .vk-container {
    font-size: 16px;
    line-height: 25px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    color: black;
    text-decoration: none;
  }
}

@media screen and (max-width: 319px) {
  .vk-container {
    font-size: 16px;
    line-height: 23px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    color: black;
    text-decoration: none;
  }

  .vk-comment-name {
    font-weight: bold;
    font-size: 15px;
    color: rgb(43, 88, 122);
  }

  .vk-comment-like {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;

  color: #ffffff;

  background: #000000;
}

body * {
  font-family: Arial;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
}

h1 {
  margin-bottom: 15px;

  font-size: 27px;
}

h2 {
  font-size: 21px;
}

a {
  color: rgb(186, 0, 9);
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.wrap {
  min-width: 240px;
  max-width: 700px;
  margin: 0 auto;
}

body img {
  max-width: 100%;
}

.content {
  width: 95%;
  margin: 0 auto;

  background: #2d2b2b;
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #cccccc;
  box-shadow: 0 0 20px #cccccc;
}

.breadcrumbs {
  position: relative;
  top: 15px;

  width: 140px;
  margin-bottom: 25px;
  padding: 2px 2px 2px 15px;

  font-size: 16px;
  color: rgb(255, 255, 255);

  background: rgb(186, 0, 9) none repeat scroll 0 0;
}

.breadcrumbs a {
  color: rgb(255, 255, 255);
}

.breadcrumbs a:hover {
  text-decoration: none;
}

.topic {
  position: relative;
  left: -10px;

  width: 480px;
  height: 38px;
  margin: 10px 0;

  border: 1px solid rgb(204, 204, 204);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.topic span {
  display: block;
  float: left;
}

.topic .title {
  position: relative;
  top: 8px;

  width: 100px;

  font-size: 21px;
  text-align: center;
  color: rgb(186, 0, 9);
}

.topic .text {
  position: relative;
  top: 4px;

  width: 380px;

  font-size: 16px;
}

.post {
  margin-bottom: 20px;
  padding: 15px;

  font-size: 17px;

  border-bottom: 2px solid #000000;
}

.post .info {
  font-size: 11px;
  color: rgb(153, 153, 153);
  font-style: italic;
}

.post a {
  font-size: 19px;
}

.comments {
  width: 100%;
  margin-top: 5px;

  background: rgb(255, 255, 255) none repeat scroll 0 0;
}

.comment {
  margin: 0 15px;
  padding: 15px 0;

  border-bottom: 1px solid rgb(204, 204, 204);
}

.comment:last-child {
  border: medium none;
}

.comment .avatar {
  float: left;
  width: 35px;
  height: 35px;
}

.comment .text {
  margin-left: 45px;

  font-size: 13px;
}

.comment .text .login {
  font-weight: bold;
  color: rgb(186, 0, 9);
}

.comment .text .date {
  font-size: 11px;
  color: rgb(153, 153, 153);
  font-style: italic;
}

.comment .text .data {
  display: block;
  width: 70%;
  margin-top: 2px;
}

.comment .text .data img {
  position: relative;
  top: 5px;

  display: block;
}

.photo {
  width: 100%;
  margin-top: 5px;
  padding-bottom: 10px;

  background: rgb(255, 255, 255) none repeat scroll 0 0;
}

header .logo {
  padding: 20px 0;

  text-align: center;
}

header .logo h1 a {
  display: inline-block;
  margin-left: 10px;

  font-weight: bold;
  font-size: 70px;
  line-height: 110px;
  font-family: "Pacifico", cursive;
  vertical-align: top;
  color: #ff0000;
  text-decoration: none;
}

header .logo h1:before {
  /*content: url(logo.png);*/
  /*display: inline-block;*/
  /*-webkit-transform: rotate(-15deg);*/
  /*-ms-transform: rotate(-15deg);*/
  /*-o-transform: rotate(-15deg);*/
  /*transform: rotate(-15deg);*/
}

.center {
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 30px auto;
  padding: 12px 20px 15px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff !important;
  text-decoration: none;

  background: #ba0009;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  text-decoration: none;

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.prod {
  display: block;
  margin: 20px auto;
}

.footer {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #a12000;
}

.content {
  margin-bottom: 30px;
}

.hidden {
  /*display: none;*/
}

.middle_image {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .photo {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  header .logo h1 a {
    margin-left: 10px;

    font-size: 50px;
    line-height: 60px;
  }

  .img-logo {
    width: 88px;
  }

  .prod {
    width: 250px;
  }

  .btn {
    width: 280px;
  }
}

@media only screen and (max-width: 440px) {
  header .logo h1 a {
    margin-left: 0;

    font-size: 35px;
    line-height: 60px;
  }

  .img-logo {
    width: 68px;
  }

  .middle_image {
    width: 100%;
  }
}
